{% extends "base.html" %}
{% block title %}Login Successful{% endblock %}
{% block content %}
<div class="form-box">
    <h2>Login Successful</h2>
    <div style="text-align:center; margin-top:1.5rem; font-size:1.1rem;">
        You are now logged in.
    </div>
    <div style="text-align:center; margin-top:1.5rem;">
        <a href="{% url 'my-repositories' %}" style="color:#5b7be6; font-weight:500; text-decoration:none;">My Repositories</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{% url 'public-repositories' %}" style="color:#5b7be6; font-weight:500; text-decoration:none;">Explore Public Repositories</a>
    </div>
</div>
{% endblock %}
